.users{"data-no-turbolink" => ""}
  = link_to user, class: 'left' do
    - if user.avatar?
      = image_tag(user.avatar.profile.url)
    - else
      %i.fa.fa-user.user-icon-alt
  %h4
    = link_to user.name, user
  %small
    = pluralize(user.posts_count, 'post')
    = pluralize(user.comments_count, 'comment')
  %hr{:width => "50%"}/