.row
  .columns.medium-8.profile-avatar
    %h1
      - if @user.avatar?
        = image_tag(@user.avatar.profile.url)
      - else
        %i.fa.fa-user
      = @user.name
      -if current_user
        %small
          %i.fa.fa-cog
          = link_to "edit profile", edit_user_registration_path
    %dl.tabs{"data-tab" => ""}
      %dd.active
        %a{:href => "#panel1"} Posts
      %dd
        %a{:href => "#panel2"} Comments
    .tabs-content
      #panel1.content.active
        = render partial: 'posts/post', collection: @posts
      #panel2.content
        = render partial: 'comments/comment', collection: @user.comments

