.panel
  .row
    .large-11.columns
      = simple_form_for [topic, post] do |f|
        = f.label :title, required: false
        = f.full_error :title , class: "red"
        = f.text_field :title
        = f.label :body, required: false
        = f.full_error :body , class: "red"
        = f.text_area :body, rows: '15'
        = f.button :submit, class: "radius"