%section
  %h1 New Post
  .row
    .large-9.columns
      .panel
        = form_for @post do |f|
          .row
            .large-11.columns
              = f.label :title
              = f.text_field :title
              = f.label :body
              = f.text_area :body, rows: '15'
              = f.submit "Save", class: 'button radius'