%section.single-post
  .row
    .medium-2.columns
      &nbsp;
    .medium-8.columns
      %h1
        = @post.title
      %small.post-avatar
        = image_tag(@post.user.avatar.tiny.url) if @post.user.avatar?
      %hr/
      = image_tag(@post.image.standard.url) if @post.image?
      ~ markdown @post.body
      %hr/
      - if policy(@post).edit?
        = link_to "Edit", edit_topic_post_path(@topic, @post), class: 'button tiny alert'
      - if policy(Post.new).create?
        = render partial: 'comments/form', locals: { topic: @topic, post: @post }
      %br
      - if @comments.any?
        %h4 COMMENTS
        = render @comments
    .medium-2.columns
      &nbsp;