!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Bloccit"
    %meta{:content => content_for?(:description) ? yield(:description) : "Bloccit", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster|Open+Sans|Roboto+Slab:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
      %script
        $(function() {
        setTimeout( "$('.alert-box a.close').trigger('click.fndtn.alert');",2000 );
        });